# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build & deploy JAR - hazforge-postech-fiap


on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        working-directory: ./complete
        run: ./mvnw --batch-mode clean package

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: '${{ github.workspace }}/complete/target/*.jar'

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app
          path: ./java-app

      - name: List artifact contents
        run: ls -la ./java-app

      - name: Set WAR file path variable
        id: war
        run: echo "file=$(ls ./java-app/*.jar)" >> $GITHUB_ENV

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3892ADD926084B7B99839ED16158A212 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3AA4B3ACA03A4355AF9161612174D074 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8B10D92C156146CA8B27F0AF21B39435 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'hazforge-postech-fiap'
          slot-name: 'Production'
          package: ${{ env.file }}
          

