name: Build & Deploy hazforge-postech-fiap

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        working-directory: ./complete
        run: ./mvnw --batch-mode clean package

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: '${{ github.workspace }}/complete/target/*.jar'

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app
          path: ./java-app

      - name: List artifact contents
        run: ls -la ./java-app

      - name: Set JAR file path variable
        id: jar
        run: echo "file=$(ls ./java-app/*.jar)" >> $GITHUB_ENV

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_BB332F77CC694EE598F9D8A2190F1BCE }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B1E4A8255F9F4E1F839122EC3B90BE17 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_744C3F147AFE4EB4A0DFF4D943C26B7B }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'hazforge-postech-fiap'
          slot-name: 'Production'
          package: ${{ env.file }}
